---
layout: default
title: Bob Fanger's Portfolio
---

<a class="sans-serif" href="{{ site.url }}">&lt; Terug naar home</a><br>
<br>
<h1>Porfolio van Bob&nbsp;Fanger</h1>

<div>
    {% assign projects = site.projects | sort: 'released' | reverse %}

    <h2>Alle projecten</h2>

<ul>
{% for project in projects %}
    {% assign year = project.released | truncate: 4, "" %}
    {% if year != prevYear %}
    {% assign prevYear = year %}
    </ul>
    <h2>{{year}}</h2>
    <ul class="sans-serif">
    {% endif %}
    <li><a href="{{project.url}}">{{project.title}}</a></li>
{% endfor %}
</ul>
</div>