---
layout: default
title: Bob Fanger's Website
---

<a href="{{ site.url }}">&lt; Terug naar home</a><br>
<br>
<h1>Porfolio van Bob&nbsp;Fanger</h1>

<div>
    {% assign projects = site.projects | sort: 'released' | reverse %}

    <h2>Alle projecten</h2>


{% for project in projects %}
    {% assign year = project.released | truncate: 4, "" %}
    {% if year != prevYear %}
    {% assign prevYear = year %} 
    <h2>{{year}}</h2>
    {% endif %}
    <a href="{{project.url}}">{{project.title}}</a><br>
{% endfor %}
</div>