html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: #3498db;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
footer {
    color: white;
}