html {
    font-size: 10px;
    min-height: 100vh;
    margin: 0;
    background: white;
}
body {
    padding: 1rem;
    font: normal 16px 'Crimson Text', serif;
    line-height: 1.5;
    color: #343434;
    max-width: 600px;
    margin: 50px auto;
}
h1 {
    font: normal 32px 'Lato', sans-serif;
    margin: 0 0 0.3em 0;
    color: #4a4a4a;
}
h2 {
    font: normal 24px 'Lato', sans-serif;
    margin: 0 0 0.3em 0;
    color: #383838;
}
img {
    max-width: 100%;
}
p {
    margin: 0 0 0.8em 0;
}
a {
    color: #0F68D1;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
dt {
    float: left;

    &:after {
        content: ':';
        padding-right: 5px;
    }
}
.sans-serif {
    font-family: 'Lato', sans-serif;
}