@font-face {
    /* latin */
    font-family: 'Crimson Text';
    font-style: normal;
    font-weight: 400;
    src: local('Crimson Text'), local('CrimsonText-Roman'), url(/fonts/crimson.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
    /* latin-ext */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(/fonts/lato-ext.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    /* latin */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(/fonts/lato.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

html {
    font-size: 10px;
    min-height: 100vh;
    margin: 0;
    background: white;
}
body {
    padding: 1rem;
    font: normal 16px 'Crimson Text', serif;
    line-height: 1.5;
    color: #343434;
    max-width: 600px;
    margin: 50px auto;
}
h1 {
    font: normal 32px 'Lato', sans-serif;
    margin: 0 0 0.3em 0;
    color: #4a4a4a;
}
h2 {
    font: normal 24px 'Lato', sans-serif;
    margin: 0 0 0.3em 0;
    color: #383838;
}
img {
    max-width: 100%;
}
p {
    margin: 0 0 0.8em 0;
}
a {
    color: #0F68D1;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
dt {
    float: left;

    &:after {
        content: ':';
        padding-right: 5px;
    }
}
.sans-serif {
    font-family: 'Lato', sans-serif;
}