<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    {% capture scss %}{% include base.scss %}{% endcapture %}
    {{ scss | scssify }}
    {% capture scss %}{% include page.scss %}{% endcapture %}
    {{ scss | scssify }}
    {% capture scss %}{% include card.scss %}{% endcapture %}
    {{ scss | scssify }}
  </style>
</head>

<body>
  <bf-window>
    <bf-page>{{ content }}</bf-page>
  </bf-window>

  <script async src="build/bfanger.bundle.js"></script>

</body>

</html>