<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.criticalcss != false %}
  <style>
    {% capture styles %}
    {% include critical.scss %}
    {% endcapture %}
    {{ styles | scssify }}
  </style>
  {% endif %}
</head>

<body>
  <bf-page inline-template>
  {{ content }}
  </bf-page>
  <script src="common.bundle.js"></script>
  <script src="bfanger.bundle.js"></script>
</body>
</html>