@import "../util";

@font-face {
  font-family: "Raleway";
  src: local("Raleway Light"),
    url("../assets/fonts/raleway-light.woff2") format("woff2"),
    url("../assets/fonts/raleway-light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Titillium Web";
  src: local("Titillium Web24 Light"),
    url("../assets/fonts/titillium-web-light.woff2") format("woff2"),
    url("../assets/fonts/titillium-web-light.woff") format("woff");
  font-weight: 300;
}

html {
  font: 300 10px/1.4 "Titillium Web", sans-serif;
}
body {
  background: #5c6ae4;
  color: #333;
  margin: 0;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1,
h2,
h3 {
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  color: #4a4a4a;
  margin-top: 0;
  margin-bottom: 0.4em;
}
h1,
.h1 {
  @include fluid-property(font-size, 22px, 40px);
}
h2,
.h2 {
  @include fluid-property(font-size, 20px, 30px);
}
h3,
.h3 {
  font-size: 22px;
}
p,
ul,
ol {
  margin-top: 0;
}
a {
  color: #0f68d1;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
